@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,100&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,400;1,300&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,100&family=Poppins:wght@300&display=swap');

.column1 {
    float: left;
    padding: 10px;
    height: 554px; 
    /* background-color: #FFFFFF; */
    margin-top: 35px;

  }

  .column2 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 554px; 
    /* background-color: #FFFFFF; */
    margin-top: 35px;

  }
  
  .rowform:after {
    content: "";
    display: table;
    clear: both;
    width: 1199px;
    
  }

  .rowform{
    border: 1px solid black;
    margin-bottom:63px ;
    width: 1199px;
    background-color: white;
    margin: auto;
    border-radius: 18px;
  }

  .firstnamebox{
    background: transparent;
  }

  .fromInSideDiv > input{
    width: 432px;
    border-bottom: 1px solid #000;
    margin-top: 30px;
    margin-left: 72px;
    

  }



  .fromInSideDiv >input::placeholder {
    color: #424543;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }




  .textareaform::placeholder{
    color: #424543;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-left: 30px;
padding-top: 20px;
  }


  form{
    margin-top: 25px ;

  }

  .formPara{
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -1.92px;
  }

  .formTitle{
    color: #000;
text-align: center;
font-family: Inter;
font-size: 96px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -5.76px;
margin-top: 84px;
  }

  .formMainDiv{
    background-image: url("/FormPage.png");
    background-repeat: no-repeat;
    object-fit: cover;
}


.textareaform{
    border-radius: 14px;
    margin-top: 25px ;
    border: 1px solid #1E1E1E;}


    .submitFormBtn{
      border-radius: 25px;
background: linear-gradient(180deg, #FFF 0%, #C9C9C9 100%);
box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.50);
width: 145px;
height: 45px;
flex-shrink: 0;
margin-top: 34px;
    }


    .labePrivacyPolicy{
      color: #424543;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 30px;
margin-left: 6px;
    }


    .labelSubscriveForm{
      margin-left: 6px;
    }


    .supportFormTxt{
      color: #424543;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 16px;
    }

    .formimg{
      position: relative;
      top: -370px;
      left: 250px;
    }

    .textareaform{
    position: relative;
    top: -300px;
    }

    .textareaformtext{
      position: relative;
      top: -300px;
    }