.SubBtn{
    width: 117px;
height: 41px;
border-radius: 10px;
background: #94C800;
color: #000;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}


.FooterDiv{
    border-radius: 25px 25px 0px 0px;
    background: #1E1E1E;
    height: 371px;
    flex-shrink: 0;
}


.footer1{
    margin-top: 79px;
    margin-left: 118px;
}


.ServiceFooter{
    color: #FFF;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -1.2px;
}

.OtherLinkFooter{
    color: #FFF;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -1.2px;
}


.ulService{
    color: #FFF;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 149.9%; /* 26.982px */
letter-spacing: -1.08px;
width: 277px;
}


.ulOtherLinkFooter{
    color: #FFF;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 149.9%; /* 26.982px */
letter-spacing: -1.08px;
width: 277px;
}

.SubNewsletter{
    border-radius: 11px;
background: #D9D9D9;
width: 292px;
height: 41px;
}

.ServiceDiv{
    border-left: 1px solid white ;
}


.ServicefooterLine{
    border-left: 1px solid white ;
    height: 250px;

}


.logohidepc{
    display: none;
}

.Sociallogomb{
display: none;
}


@media screen and (max-width: 600px) {

.OtherLinkf{
    display: none;
}
.footer1{
    margin-top: 10px;
    margin: auto;
}


.Sociallogo{
    display: none;
}

.logohidemb{
    display: none;
}


.ServicefooterLine{
    border-left: none;
    height: 250px;
    margin-left: 0;
    padding-left: 0;
    margin-top: 20px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding-top: 19px;
    padding-bottom: 40px;

}

.FooterDiv{
    height: auto;
}


.ServicefooterLine{
    height: auto;
}


.logohidepc{
    margin: auto;
    display: block;
    margin-top: 40px;
}

.Sociallogomb{
    display: flex;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 40px;
 
}
}