.serviceHeading{
    /* font-family: inter; */
    font-size: 50px;
    color: #1e1e1e;
}

.serviceTable{
    display: flex;
    justify-content: space-around;
    font-family: Montserrat;
    margin-top: 50px;
    margin-bottom: 50px;
}

.baseTable{
    width: 25%;
    font-family: Montserrat;
    font-size: 18px;
    border-radius: 10px;
   
    background: #F2F2F2;
    box-shadow: 3px 4px 7.8px 0px rgba(0, 0, 0, 0.25);
}


.activeService{
    border: 2px solid #000;
    scale: 1.05;
    transition: all 1s ;
}

.activeService > .servicetableHeading{
background-color: powderblue;
border-radius: 10px;


}

.tableInnerFont{

    color: #1E1E1E;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;

}


.GetQuotesBtn{
    color: #000;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
border-radius: 25px;
background: #FFF;
box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.50);
display: flex;
padding: 10px 25px;
margin: auto;
margin-top: 20px;
margin-bottom: 20px;
}

.GetQuotesBtn:hover{
    scale: 1.1;
    transition: all ease 1s ;


}

#myDIV{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.tickLogo{
    width: 18px;
height: 18px;
flex-shrink: 0;
}

.serviceMainDiv{
    background-image: url("/ServiceBg.png");
    background-size: cover;
    background-repeat: no-repeat;

}


.servicetableHeading{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #1E1E1E;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.active{
    scale: 1.1;
    font-weight: 600;
    border-radius: 54px;
background: #D9D9D9;
color: #1E1E1E;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.96px;
padding: 9px 9px;
font-weight: 600;
}

.serviceContent{
    font-family: Montserrat;
    width: 80%;
    margin: auto;
    font-size: 18px;
    margin-top: 20px;
}

.serviceContentH
{
    font-family: Montserrat;
    width: 80%;
    margin: auto;
    font-size: 38px;
    margin-top: 20px;
    font-weight: 600;
    line-height: 40px;
}

.serviceContentP
{
    font-family: Montserrat;
    width: 80%;
    margin: auto;
    font-size: 18px;
    margin-top: 20px;
}

.GetQuotesBtn:hover{
       
    scale: 1.1;

}

@media screen and (max-width: 600px) {
  
    .serviceTable{
            flex-direction: column;
    }

    .baseTable {
        width: 80%;
        margin: auto;
        margin-bottom: 50px;
    }

    .GetQuotesBtn{
        font-size: 12px;
        padding: 7px 15px;

    }
    .GetQuotesBtn:hover{
       
        scale: 1.1;

    }

    }
  