.ExploreDiv{
    background-color:#045DC2;
    height: 60vh;
    width: 100vw;
    color: white;
}

.UIUXDivImg{
    margin: auto;
    margin-bottom:  70px;
    margin-right: 10%;
    /* margin-top: 5%; */
    border-radius: 180%;
    position: relative;
    margin-left: 20px;
    z-index: 1;
    
}

.UIUXDivImg2{
    margin: auto;
    margin-bottom:  70px;
    margin-right: 10%;
    /* margin-top: 5%; */
    border-radius: 180%;
    position: relative;
    margin-top: -100px;
    margin-right: -20px;
    z-index: 1;
}

.ExploreH{
    text-align: center;
    /* background: #1E1E1E; */
    font-size: 36px;
    padding-top: 15vh;
    font-weight: 700;
}

.ExploreBtn{
    font-family: Montserrat;
font-size: 16px;
font-weight: 600;
line-height: 19.5px;
top: 829px;
left: 236px;
gap: 0px;
opacity: 0px;
border: 1px solid #868686;
background: linear-gradient(180deg, #FFFFFF 0%, #C9C9C9 100%);
padding-inline: 42px;
padding-top: 12px;
padding-bottom: 12px;
border-radius: 25px;
margin: auto;
display: block;
margin-top: 70px;
}

.ProcessFlexDiv{
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-repeat: no-repeat;
}

.ResearchH{
    color: #FFF;
    text-align: left;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.44px;
    padding-top: 50px;
    margin-left: 105px;

    
}

.ResearchP{
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.72px;
    margin-bottom: 58px;
    margin-left: 105px;
    
    }


    .ProcessDiv{
        background: #C0DBF7;
    }
    

.ResDiv{
    width: 80%;
    margin-bottom: 48px;
    display: flex;
    border-radius: 30px;
opacity: 0.99;
background: #0A63C5;
}

.ResDivInner{
    display: flex;
    flex-direction: column;
}

.DesignDiv{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    z-index: 10 !important;
}

.DesignDivImg2{
    margin-left: 70%;
    /* width: 1000px; */
}

.DesignPara{
    width: 50%;
    margin-left: auto;
    margin-right: 20%;
    margin-top: 5vh;
}

.DesignDivWeb2{
    width: 90vw;
}

.ExpSpan{
    font-size: 42px;
    line-height: 45px;
    color: blue;
    font-weight: 700;
}
.DesignPara{
    font-size: 22px;
}

.DesignDivWeb{
    background-image: url("/DesignBf.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15%;
    overflow: hidden;
}

.WebDivImg2Dev{
    border-radius: 180%;
    position: relative;
    margin-top: -140px;
    right: -70px;
}



.DesignPa{
    color: #FFF;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.72px;
margin-left: 21%;
/* width: 60%; */

}

@media screen and (max-width: 600px) {

    .DesignDivWeb{
        background-image: url("/UiBackBot.png");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15%;
        overflow: hidden;
    }


    .ResearchH{
        margin: 10px;
        font-size: 26px;
        line-height:30px;
    }

    .ResearchP{
        margin: 10px;
        font-size: 16px;
        line-height:22px;
    }

    .DesignDivWeb{
        flex-direction: column;
    }
    
    .UIUXDivImg2{
        display: block;
        margin-top: 20px !important;
        right: 0 !important;
        margin: auto !important;
    }

    .ResDiv{
        flex-direction: column;
    }
    
    .UIUXDivImg{
        margin: auto;
    }

    .ExploreH{
        font-size: 20px;
    }
}