.WebDevMainDivList{
    background: #0E1034;
margin-top: 50px;
}

.WebDevMainDivListH{
    font-family: Montserrat;
font-size: 32px;
font-weight: 600;
line-height: 36.38px;
letter-spacing: -0.03em;
text-align: left;
color: #FFFFFF;
padding-top: 150px;
width: 80%;
margin: auto;
}

.webDivImg{
    margin-left: 20%;
}

.WebDivImg2{
    background-image: url("/DevBf.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15%;
    overflow: hidden;
}

.WebDevMainDivListP{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 300;
    line-height: 24.38px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #FFFFFF;
    padding-bottom: 105px;
    width: 80%;
margin: auto;
margin-top: 10px;

    

}


.EcomWebDivMain{
    display: flex;

}

.EcomWebDivMain > div {
    flex: 1;
    width: 50%;
    padding: 20px;
  }
  
  .UIUXDivImg {
    max-width: 100%;
    height: auto;
  }

  .EcomWebDivMainDiv2H{
    font-family: Montserrat;
font-size: 36px;
font-weight: 600;
line-height: 43.88px;
letter-spacing: -0.03em;
text-align: left;
color: #FFFFFF;
  }

.EcomWebDivMainDiv2P{
    font-family: Montserrat;
font-size: 20px;
font-weight: 400;
line-height: 24.38px;
letter-spacing: -0.03em;
text-align: left;
color: #FFFFFF;

}

.EcomWebDivMainH{
    font-family: Montserrat;
font-size: 36px;
font-weight: 600;
line-height: 43.88px;
letter-spacing: -0.03em;
text-align: left;
color: #FFFFFF;

}

.LiImgBox{
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.EcomWebDivMainP{
    font-family: Montserrat;
font-size: 20px;
font-weight: 400;
line-height: 24.38px;
letter-spacing: -0.03em;
text-align: left;
color: #FFFFFF;

}
  
.baseTableWebDev{

   border-radius: 41px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 1;
    border: 1px solid #614A7A;
    padding: 15px;
    width: 20%;
    background: linear-gradient(180deg, rgba(207, 151, 217, 0.245) 0%, rgba(110, 80, 115, 0.03) 100%);

}
.EcomWebDivMain2{
    margin-left: 10%;
}


.WebMainDivWebDesign{
    display: flex;
    padding-bottom: 100px;
}

  .EcomWebDivMainDiv2{
    margin-right: 10%;
  }

  .DesignDivWebnew{
    background-image: url("/DevBack.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5% !important;
    overflow: hidden;
}




.baseTableWeb{
    width: 20vw;
    font-family: Montserrat;
    font-size: 18px;
    border-radius: 10px;
   
    background: #F2F2F2;
    box-shadow: 3px 4px 7.8px 0px rgba(0, 0, 0, 0.25);
    padding-bottom: 20px;
    padding-right: 10px;
    margin-top: 45px;
}

.servicetableHeadingNew{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #f2f2f2;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.servicetableLi{
    font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;


}

.WebMainDiv{
    display: flex;
}

.DesignH{
    color: #FEFFFF;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1.08px;
padding-top: 184px;
margin-left: 21%;
/* width: 50%; */
}

@media screen and (max-width: 600px) {

    .DesignH{
        font-size: 26px !important;
        line-height:30px !important;
        margin: auto;
        padding-top: 50px !important;
        margin-left: 5% !important;
        
    }

    .DesignPa{
        margin-left: 5% !important;
        font-size: 16px !important;
        line-height:22px !important;
    }

    .WebMainDiv{
        display: flex;
        flex-direction: column;
    }

    .baseTableWeb{
        width: 80vw;
        font-family: Montserrat;
        font-size: 13px;
        border-radius: 10px;
        margin: auto;
       
        background: #F2F2F2;
        box-shadow: 3px 4px 7.8px 0px rgba(0, 0, 0, 0.25);
        padding-bottom: 20px;
        padding-right: 10px;
        margin-top: 45px;
    }


    .baseTable {
        width: 80%;
        margin: auto;
        margin-bottom: 50px;
    }  

    .WebMainDivWebDesign{
        display: block;
    }

    .baseTableWebDev{
        margin: auto;
        width: 85%;
        opacity: 1;
        margin-bottom: 20px;
    }

    .EcomWebDivMain{
        flex-direction: column;
    }

    .EcomWebDivMain > div{
        width: auto;
    }

    .webDivImg{
        margin: auto;
    }

    .EcomWebDivMain2{
        margin: auto;
    }
    
    .WebDevMainDivListH{
        font-size: 26px;
        line-height:30px;
        padding-top: 75px;
    }

    .WebDevMainDivListP{
        font-size: 16px;
        line-height:22px;
    }
    .EcomWebDivMainDiv2H{
        font-size: 26px;
        line-height:30px;
    }

    .EcomWebDivMainH{
        font-size: 26px;
        line-height:30px;
    }

.EcomWebDivMainP{
    font-size: 16px;
    line-height:22px;
}

    .EcomWebDivMainDiv2P{
        font-size: 16px;
        line-height:22px;
    }


    .DesignDivWebnew{
        background-image: url("/DevBfMb.png");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom:11% !important;
        overflow: hidden;
        flex-direction: column;
    }

    .WebDivImg2Dev{
        margin-top: 50px;
        margin: auto;
        width: 80%;
    }
    
    .WebDivImg2Dev{
        display: block;
        margin-top: 20px !important;
        right: 0 !important;
    }

    .WebDivImg2{
        background-image: url("/DevBfMb.png");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15%;
        overflow: hidden;
    }


    
.revdivWeb{
    flex-direction: column-reverse !important;
}
}